# Env
/.env
/.composer.lock
/error_log
/frontend/web/error_log
/backend/web/error_log
/googlea3057eb8d5420e8a.html
/__MACOSX
/.ftpquota
/.idea
/.vscode
# Mac DS_Store Files
.DS_Store
composer.lock
# Vagrant
/.vagrant
/node_modules
/backend/node_modules
/bower_components
.git-old
/html-emails/build/
/docs
/docker

/googleb204fc1772c310bb.html
/abc.html
/old
/old.zip
/setup.php
blog/
gathern-backup-12-2-2017.zip
composer.lock
/ignore-me
mix-manifest.json
npm-debug.log
frontend/config/assets-prod.php
vendor/
bin/
/storage/web/**
