/* Start Home Page */

@media (max-width: 991px) {
  .top-bar .container {
    padding: 0;
  }

  .navbar-light .navbar-toggler {
    border: none;
  }

  .top-bar {
    font-size: 11px;
  }

  .title-section h2 {
    font-size: 21px;
  }

  .header .navbar .nav-link {
    text-align: right;
    padding: 10px 0;
  }

  .project-area .button-group button + button {
    font-size: 11px !important;
  }

  .top-bar .lang {
    margin-top: 20px;
  }

  .top-bar i {
    font-size: 10px;
  }

  .header .navbar .nav-link {
    padding-top: 17px;
  }

  .header .navbar .form-inline .form-control {
    width: 70%;
  }

  .slider img {
    height: 40vh;
  }

  .header .navbar .dropdown-menu {
    height: 100%;
    min-width: unset;
  }

  /* ================= */

  .project-area .button-group button + button {
    padding: 10px;
    font-size: 17px;
  }

  .project-area .button-group button {
    padding: 0;
  }

  .project-area .our-project .custom-sale {
    left: 50px;
  }

  /*  */

  .detals-product .card {
    padding: 0;
  }

  .detals-product .details h2 {
    margin-top: 20px;
  }

  .detals-product .preview-thumbnail.nav-tabs li img {
    width: 71px;
  }

  .detals-product .card {
    margin-top: 20px;
  }

  .bac-img img {
    height: 30vh;
  }

  /* Start Cart Page */

  .cart .table thead th {
    font-size: 8px;
    font-weight: bold;
  }

  .cart .table .cart-img img {
    width: 30px;
    height: 30px;
  }

  .cart .table td {
    font-size: 8px;
    font-weight: bold;
  }

  /* Login */

  .login {
    padding: 60px 0;
  }

  .footer h5 {
    font-size: 16px;
  }

  .login .nav-pills .nav-link {
    margin-bottom: 20px;
  }

  .product .product-top img {
    height: 236px;
  }

  .project-area .button-group .active {
    padding: 5px 9px;
  }
}
