.form-control {
  padding: 0;
}
.header .navbar .form-inline .form-control {
  padding: 0px 7px;
}

.header .navbar .dropdown-menu {
  right: -111px;
  text-align: right;
}

.title-section h2 {
  padding-right: 30px;
  border: none;
  border-right: 4px solid var(--main-color);
}

.orders .media-body {
  margin-right: 20px;
}

.detals-product .preview-thumbnail.nav-tabs li {
  margin: 0;
}

.custom-form {
  text-align: right;
}
