/* ============================= Start Global Style ============================= */

body {
  padding: 0;
  margin: 0;
  font-family: "Tajawal", sans-serif;
}

:root {
  --main-color: #fe4f20;
  --link-color: #fff;
  --paragraf-color: #21314ad9;
  --heading-color: #797979;
}

a {
  text-decoration: none !important;
  transition: 0.8s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
}

.text-secondary {
  color: #026f93 !important;
}

.title-section h2 {
  padding-left: 30px;
  border-left: 4px solid var(--main-color);
  display: inline-block;
}

.text-uppercase {
  text-transform: uppercase !important;
}

/* ============================= End Global Style ============================= */

/* =========================================================================================== */

/* ***********************  Start Top bar **************************** */

.top-bar {
  padding: 10px;
  box-shadow: 0px 0px 5px 1px #343434;
  background: #343434;
}

.top-bar a {
  color: var(--link-color);
  padding: 10px;
}

/* .top-bar a:hover {
  color: #ffc107;
} */

.top-bar span {
  color: var(--link-color);
}

/* .top-bar i {
  color: #ffc107;
 
} */

/* ***********************  End Top bar **************************** */

/* ***********************  Start Header **************************** */

.header .navbar-brand img {
  height: 43px;
  width: 150px;
}

.header .navbar .nav-link {
  padding: 0 14px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 10px;
}

.header .form-control {
  border: 1px solid #ddd;
  border-radius: 0;
}

.btn-outline-secondary {
  border: 1px solid #ddd;
  border-radius: 0;
}

.header .navbar .nav-link:hover {
  color: var(--main-color);
}

.header .navbar-light .navbar-nav .active > .nav-link {
  color: var(--main-color);
}

.header .dropdown-item:hover {
  color: var(--main-color);
}

.header .navbar .form-inline .form-control {
  box-shadow: none;
}

.header .navbar .dropdown-menu {
  min-width: 700px;
  top: 49px;
  left: -111px;
  height: 271px;
  overflow: hidden;
  padding: 15px;
  border: none;
  border-radius: unset;
  box-shadow: 0 0 2px 2px #e9ecef;
}

.header .mega-link h4 {
  padding: 10px;
  color: var(--heading-color);
  border-bottom: 1px solid #ddd;
}

.header .mega-link ul {
  padding: 10px;
}

.header .mega-link ul li {
  list-style: none;
  margin-bottom: 10px;
}

.header .mega-link li a {
  color: var(--heading-color);
  padding: 5px;
  font-size: 16px;
}

.header .mega-link li a:hover {
  background: var(--main-color);
  color: var(--link-color);
}

/* ***********************  End Header **************************** */

/* *********************** Start Slider *********************** */
.slider img {
  height: 85vh;
}

/* *********************** End Slider *********************** */

/* *********************** Project Area *********************** */
.project-area .img-fluid {
  width: 300px;
  height: 300px;
}

.project-area {
  padding: 100px 0;
}

.project-area .button-group {
  padding-bottom: 45px;
}

.project-area .button-group button {
  background: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  padding: 0 15px;
  color: #7a7a7a;
}

.project-area .button-group .active {
  box-shadow: rgb(215 215 215) 0px 0px 2px 1px;
  color: #fff;
  background: #000;
  padding: 10px 25px;
  outline: none;
  border: none;
}

.project-area .button-group button + button {
  outline: none;
}

.project-area .grid .our-project > .title h4 {
  font-size: 15px;
  color: var(--heading-color);
}

.project-area .grid .our-project .img a:hover img {
  filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}

.project-area .text-secondary {
  font-weight: bold;
  color: #026f93 !important;
}

.project-area .our-project .sale {
  text-decoration: line-through;
}

.project-area .our-project .custom-sale {
  position: absolute;
  left: 20px;
  top: 20px;
  padding: 5px 16px;
  font-size: 12px;
  background: #b40f32;
  color: #fff;
  border-radius: 50px;
}

/* *********************** End Project Area *********************** */

/* *********************** Start Products *********************** */

.product .product-top img {
  width: 100%;
  height: 365px;
  padding: 20px 0;
  transition: 1s;
  cursor: pointer;
}

.product .product-top .overlay-right {
  display: block;
  opacity: 0;
  position: absolute;
  top: 10%;
  margin-left: 0;
  width: 70px;
}

.overlay-right .fas {
  cursor: pointer;
  background-color: var(--main-color);
  color: var(--link-color);
  height: 35px;
  width: 35px;
  font-size: 20px;
  padding: 7px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.overlay-right .btn-secondary {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

.product .product-top:hover .overlay-right {
  opacity: 1;
  margin-left: 5%;
  transition: 0.5s;
}

.product-bottom .fas {
  color: #eead0c;
  cursor: pointer;
  font-size: 15px;
  margin-bottom: 15px;
}

.product-bottom .sale {
  text-decoration: line-through;
}

.product-bottom h3 {
  font-size: 16px;
  color: var(--heading-color);
  text-transform: uppercase;
}

.product-bottom h5 {
  font-size: 15px;
  padding-bottom: 10px;
}

.owl-nav i {
  background: var(--main-color);
  padding: 2px 10px 2px 10px;
  font-size: 25px;
  color: #fff;
  margin-top: 25px;
  margin-bottom: 80px;
}

.owl-theme .owl-nav [class*="owl-"] {
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
  background: none;
}

/* *********************** End Products *********************** */

/* *********************** Start Brand *********************** */

.brand img {
  height: 70px;
  padding: 14px;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.brand img:hover {
  transform: scale(1.2);
}

/* *********************** End Brand *********************** */

/* *********************** Start Footer *********************** */

.footer {
  background-color: var(--paragraf-color);
  padding: 50px;
  margin-top: 40px;
}

.footer img {
  padding: 20px 0 20px 0;
  width: 200px;
  height: 100px;
}

.footer h5 {
  padding: 20px 0 15px 0;
  color: var(--link-color);
  font-size: 21px;
}

.footer ul {
  padding: 0;
}

.footer ul li {
  list-style: none;
  color: var(--link-color);
}

.footer ul li:hover {
  color: var(--main-color);
}

.footer .icon-logo ul li {
  display: inline-block;
  padding: 4px;
  border-radius: 20px;
  margin: 3px;
}

.footer .icon-logo ul li i {
  font-size: 15px;
  background: var(--heading-color);
  padding: 7px;
  color: var(--link-color);
}

.footer .icon-logo ul li i:hover {
  transition: 1s;
  background: var(--main-color);
  color: var(--link-color);
}

/* *********************** End Footer *********************** */

/* =================================================================================== */
/* ======================== Start Products Page ============================= */
/* =================================================================================== */

/* *********************** Start background *********************** */
.bac-img img {
  width: 100%;
  height: 60vh;
  background-size: cover;
}

/* *********************** Start background *********************** */

/* *********************** Start Filter Product *********************** */

.products-shop {
  padding-top: 100px;
}

.products-shop .filter-pro ul {
  padding: 5px;
}

.products-shop .filter-pro ul li {
  list-style: none;
  padding: 5px 0;
}

.products-shop .filter-pro .price input {
  border: none;
  box-shadow: none;
  outline: none;
  color: var(--main-color);
  font-weight: bold;
}

.products-shop .filter-pro h6 {
  font-size: 18px;
  color: var(--heading-color);
  font-weight: 500;
  border-bottom: 1px solid var(--main-color);
  padding: 15px 0;
}

.products-shop .filter-pro a {
  color: var(--heading-color);
  font-size: 15px;
  font-weight: 500;
}

.products-shop .filter-pro a:hover {
  color: var(--main-color);
}

.products-shop .filter-pro .cat,
.size,
.price,
.color {
  box-shadow: 0 0 1px 2px #1515150d;
  padding: 10px;
  margin-bottom: 10px;
}

.products-shop .filter-search {
  padding-bottom: 30px;
}

.products-shop .filter-search select {
  outline: none !important;
  box-shadow: 0 0 1px 1px #bec2c259;
  margin: 10px 0;
}

.custom-pagination nav {
  padding: 80px 0;
}

.custom-pagination .page-link {
  color: var(--paragraf-color);
  box-shadow: none;
  border-radius: 8px 0;
  margin: 5px;
}

.custom-pagination .page-item.active .page-link {
  background: var(--main-color);
  box-shadow: none;
  border: none;
}

/* *********************** End Filter Product *********************** */

/* =================================================================================== */
/* ======================== Start Details Product Page ============================= */
/* =================================================================================== */

.detals-product .preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px;
}

.detals-product .preview-thumbnail.nav-tabs li {
  width: 18%;
  margin-right: 2.5%;
}

.detals-product .preview-thumbnail.nav-tabs li img {
  width: 80px;
  height: 65px;
  display: block;
  border: 1px solid #ccc;
  cursor: pointer;
}

.detals-product .preview-thumbnail.nav-tabs li a {
  padding: 0;
  margin: 0;
}

.detals-product .preview-thumbnail.nav-tabs li:last-of-type {
  margin-right: 0;
}

.detals-product .tab-content {
  overflow: hidden;
}

.detals-product .tab-content img {
  width: 100%;
  height: 390px;
  -webkit-animation-name: opacity;
  animation-name: opacity;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

.detals-product .card {
  margin-top: 100px;
  /* padding: 30px; */
  border: none;
}

.detals-product .details h2 {
  color: var(--heading-color);
  font-size: 30px;
  font-weight: bold;
}

.detals-product .details i {
  color: #ffb52f;
  font-size: 14px;
  margin-right: 5px;
}

.detals-product .details h6 {
  font-size: 15px;
  font-weight: bold;
  margin-top: 23px;
}

.detals-product .details ul {
  padding: 0;
}

.detals-product .details ul li {
  list-style: none;
  display: inline-block;
  padding-top: 10px;
  padding: 5px;
}

.detals-product .details ul li a {
  color: var(--heading-color);
  padding: 3px;
  font-weight: bold;
}

.detals-product .details ul li a:hover {
  color: var(--main-color);
}

.detals-product .details .add-cart {
  margin-top: 30px;
  padding: 10px;
}

.detals-product .details .add-cart a {
  background: #ffb52f;
  color: var(--link-color);
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 50px;
  box-shadow: 0 0 1px 1px #ffc107;
}

.detals-product .details .add-cart a:hover {
  background: var(--main-color);
  color: var(--link-color);
  box-shadow: none;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.description {
  padding-top: 60px;
}

.description .btn-link {
  color: var(--main-color);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

/* =================================================================================== */
/* ======================== Start My Orders Page ============================= */
/* =================================================================================== */

.orders {
  padding-top: 100px;
}

.orders .order-det .media img {
  width: 85px !important;
  height: 85px !important;
}

.orders .fa-check-circle {
  color: #03ff03 !important;
}

.orders .media h6 {
  margin-bottom: 17px;
}

.orders b {
  color: var(--main-color);
}

.orders i {
  color: var(--main-color);
  font-weight: bold;
  font-size: 17px;
}

.order-info img {
  width: 85px !important;
  height: 85px !important;
}

.orders .icon-info {
  margin-top: 40px;
}

.order-info {
  padding: 20px;
  margin-top: 30px;
  background: #d7d7d721;
  box-shadow: 0 0 4px 1px #a5a5a563;
  border-radius: 5px;
}

.orders .media-body {
  margin-bottom: 50px;
}

/* =================================================================================== */
/* ======================== Start Cart Page ============================= */
/* =================================================================================== */

.cart {
  padding-top: 100px;
}

.cart .table .cart-img img {
  width: 100px;
  height: 100px;
}

.cart .table .box input {
  outline: none;
  border-radius: 5px;
  text-align: center;
  width: 40px;
}

.cart .table thead th {
  text-transform: uppercase;
  padding: 20px 0;
  color: var(--main-color);
}

.cart .table td {
  vertical-align: unset;
  font-weight: bold;
  color: var(--heading-color);
}

.cart .table i {
  color: #f00;
}

.total .table {
  width: 50%;
}

.total .table td {
  color: var(--main-color);
  text-transform: uppercase;
}

/* =================================================================================== */
/* ======================== Start Login Page ============================= */
/* =================================================================================== */

.login {
  padding: 20px;
  padding-top: 100px;
  background: #fafafa;
  border-radius: 10px;
}

.login .nav-pills .nav-link {
  margin: 0 15px;
  color: var(--heading-color);
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  box-shadow: 0 0 8px 8px #e9ecef;
  letter-spacing: 1px;
  border-radius: 50px;
}

.nav-pills .nav-link.active {
  background: var(--main-color);
  color: var(--link-color);
  border-radius: 50px;
}

.login .custom-form {
  padding-top: 50px;
}

.login .custom-form button {
  margin-top: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: var(--main-color);
  color: var(--link-color);
  padding: 15px;
  border: none;
  font-size: 20px;
  outline: none;
  border-radius: 50px;
}

.login .custom-form label {
  font-size: 16px;
  font-weight: 500;
  color: var(--heading-color);
  padding: 10px;
}

.login .custom-form input {
  outline: none;
  box-shadow: none;
  font-size: 20px;
  color: var(--main-color);
  border-radius: 50px;
  text-align: center;
}

.login .custom-form a {
  color: var(--heading-color);
  font-weight: 500;
  padding: 10px;
}

/* Start Acount Page */
.my_acount img {
  width: 90px;
  height: 90px;
  margin-bottom: 30px;
}

.logoContainer {
  width: 140px;
  height: 151px;
  margin: 15px auto 0 auto;
  /*background: url(http://img1.wikia.nocookie.net/__cb20130901213905/battlebears/images/9/98/Team-icon-placeholder.png) no-repeat 0 0;*/
  padding: 11px 10px 21px 10px;
  text-align: center;
  line-height: 120px;
}
.logoContainer img {
  max-width: 100%;
}
.fileContainer {
  background: #ccc; /* you can give it background img as well or any style you want*/
  width: 202px;
  height: 31px;
  overflow: hidden;
  position: relative;
  font-size: 16px;
  line-height: 31px;
  color: #434343;
  padding: 0px 41px 0 53px;
  margin: 0 auto 60px auto;
  cursor: pointer !important;
}
.fileContainer span {
  overflow: hidden;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}
.fileContainer input[type="file"] {
  opacity: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  cursor: pointer;
}
