/* Start Home Page */
i {
  margin-left: 8px;
}
.page-content {
  left: 64%;
  padding: 0px 66px 0 0;
}

.list-group {
  padding: 5px;
}

.testimonials img {
  right: 81%;
}

.footer .footer-icon i {
  margin-left: 0px;
}

.navbar {
  text-align: right;
}

.navbar .dropdown-item {
  text-align: right;
}

/* About Page */

.about-page i {
  right: 71%;
}

.all-services .show-ser button {
  right: 85%;
}

@media (max-width: 767.98px) {
  .lang {
    right: -14px;
  }

  .navbar .dropdown-item {
    padding: 5px 12px;
  }
}
