/* Global Style */
:root {
  --main-color: #662ad8;
  --second-color: #007bff;
  --link-color: #fff;
  /* --paragraf-color: #ddd; */
  /* --heading-color: #727272; */
}

body {
  font-family: "Tajawal", sans-serif;
}
/* Global Style */
/* Start Full Img */
.landing-page {
  width: 100%;
  height: 100vh;
  background: #000;
  position: relative;
  overflow: hidden;
}
.landing-page::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../images/bg.jpg) no-repeat;
  background-size: cover;
  opacity: 0.4;
  animation: anim 30s linear infinite;
}
@keyframes anim {
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.page-content {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 100%;
  max-width: 800px;
  text-align: center;
  padding: 0 40px;
  box-sizing: border-box; */
  position: absolute;
  top: 50%;
  left: 15%;
  z-index: 1;
  width: 100%;
  max-width: 800px;
  box-sizing: border-box;
}
.page-content h1 {
  color: var(--link-color);
  text-transform: uppercase;
  font-size: 50px;
  margin-bottom: 20px;
}
.page-content p {
  color: var(--link-color);
  margin-bottom: 20px;
  font-size: 23px;
}
.page-content a {
  display: inline-block;
  text-decoration: none;
  color: var(--link-color);
  border: 2px solid var(--link-color);
  text-transform: uppercase;
  padding: 10px 20px;
  transition: 0.4s linear;
}
.page-content a:hover {
  color: var(--link-color);
  background: var(--main-color);
}
.text {
  padding: 10px;
  text-align: justify;
}
.text div {
  margin-bottom: 6px;
}
/* Start Full Img */

/* Start Header */
.navbar .navbar-brand img {
  height: 50px;
}

.navbar .fa-align-right {
  color: #662ad8;
}
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.navbar .nav-link {
  color: #fff;
  font-weight: 600;
  padding: 0 !important;
}

.navbar_fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: #010337;
  z-index: 1000;
  /* border-bottom: 1px solid #ddd; */
  box-shadow: 0 -8px 12px 6px #6f3ca6;
  transition: background 2s ease;
}

.navbar_fixed .nav-link {
  color: #fff;
}

.navbar-toggler {
  outline: none !important;
  border: none;
  background: #fff;
}

.navbar .active,
.navbar .nav-link:hover {
  color: var(--second-color) !important;
  border-bottom: 2px solid;
}
.navbar .lang {
  position: relative;
}
.navbar .lang::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 30px;
  background: var(--second-color);
  right: 30px;
}
.navbar .lang a {
  font-size: 15px;
  font-weight: 600;
  color: #fff !important;
  text-decoration: none;
}
/* End Header */

/* Start About Us Section */

.about-us {
  padding-top: 100px;
}
.about-us img {
  width: 100%;
}

.about-us h5 {
  color: var(--main-color);
  margin-top: 70px;
  margin-bottom: 26px;
}

.about-us h6 {
  font-size: 25px;
}

.about-us p {
  font-size: 19px;
  line-height: 28px;
}
/* End About Us Section */

/* Start Counter Section */
.counter-box {
  padding: 100px;
  background: #f5fbff;
}

.counter-box .icon-box {
  border: 1px solid #b4c4fe;
  height: 70px;
  width: 70px;
  margin: 10px auto;
  transform: rotate(-45deg);
}

.counter-box .icon-box i {
  font-size: 33px;
  margin: 18px auto;
  color: #662ad8a8;
  transform: rotate(45deg);
}

.counter-box h3 {
  color: var(--second-color);
}

.counter-box h5 {
  font-size: 17px;
  text-transform: uppercase;
  color: #767676;
  margin-bottom: 40px;
}

/* End Counter Section */

/* Srart Services Section */
.services {
  padding: 100px 0;
}

.services .card {
  height: 370px;
  border: none;
  margin-bottom: 40px;
  box-shadow: rgb(225, 224, 224) 2px 2px 4px 3px;
  transition: all 0.6s;
}

.services .card:hover {
  -webkit-transform: translateY(1em);
  transform: translateY(1em);
}

.services .card img {
  height: 215px;
}

.info-title h5 {
  color: var(--main-color);
}

.info-title h6 {
  font-size: 25px;
}

/* End Services Section */

/* Start Portfolio Section */
.portfolio {
  padding: 100px 0;
  background: #f5fbff;
}
l.filters {
  display: block;
  width: 100%;
  margin: 0;
  padding: 30px 0;
}

ul.filters > li {
  list-style: none;
  display: inline-block;
  margin-bottom: 40px;
}

ul.filters > li > a {
  display: block;
  color: #495c76;
  font-weight: 600;
  text-decoration: none;
  padding: 5px 20px;
  text-transform: uppercase;
  transition: ease 0.6s;
}

ul.filters > li > a:hover {
  background-color: var(--second-color);
  color: var(--link-color);
  border-radius: 30px;
}

ul.filters > li.active > a {
  color: #fff;
  background-color: var(--second-color);
  border-radius: 30px;
}

.portfolio .card {
  position: relative;
  margin-bottom: 50px;
  color: #000;
  border-radius: 0;
  border: 1px solid #eee;
  background-color: #fff;
  box-shadow: 1px 1px 1.5px rgba(0, 0, 0, 0.075);
  transition: ease-in 2s;
}

.portfolio .card img {
  height: 270px;
  transition: ease 1s;
}

.portfolio .card img:hover {
  opacity: 0.7;
}

.portfolio .card-body {
  padding-top: 10px;
  padding-bottom: 10px;
}

.card-btn {
  margin-bottom: -40px;
  font-size: 0.9rem;
  background-color: #fff;
  color: #222;
  border: 1px solid #eee;
  border-radius: 0;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 18px 0 0;
  box-shadow: 0px 1px 0px 0px #005ecf;
}

.card-btn:hover {
  background: var(--main-color);
  color: var(--link-color);
}

/* Start Portfolio Section */

/* Start Footer Section */
.footer {
  padding: 7rem 0;
  position: relative;
  background: #010337;
  margin-top: 10rem;
}

.footer::before {
  content: "";
  background: #010337;
  height: 200px;
  -webkit-transform: skewY(-5deg);
  -ms-transform: skewY(-5deg);
  transform: skewY(-5deg);
  position: absolute;
  left: 0;
  top: -70px;
  right: 0;
  z-index: -1;
}

.footer h5 {
  color: var(--link-color);
}

.footer ul li {
  color: var(--link-color);
  margin-bottom: 10px;
}

.footer ul li:hover i {
  color: var(--second-color);
}

.wrapper {
  display: inline-flex;
}
.wrapper .icon {
  margin: 0 8px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon span {
  display: block;
  height: 40px;
  width: 40px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon span i {
  line-height: 40px;
  font-size: 20px;
}
.wrapper .icon .tooltip {
  position: absolute;
  top: 0;
  z-index: 1;
  background: #fff;
  color: #fff;
  padding: 5px 10px;
  font-size: 15px;
  border-radius: 25px;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover .tooltip {
  top: -70px;
  opacity: 1;
  pointer-events: auto;
}
.icon .tooltip:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  left: 50%;
  bottom: -6px;
  transform: translateX(-50%) rotate(45deg);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover span {
  color: #fff;
}
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}
.wrapper .facebook:hover span,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip:before {
  background: #3b5999;
}
.wrapper .twitter:hover span,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip:before {
  background: #46c1f6;
}
.wrapper .instagram:hover span,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip:before {
  background: #e1306c;
}
.wrapper .github:hover span,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip:before {
  background: #333;
}
.wrapper .youtube:hover span,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip:before {
  background: #de463b;
}

.footer .copyright p {
  color: var(--link-color);
}

.footer b {
  color: var(--second-color);
}

/* End Footer Section */

/* ====================================================================== */
/* ========================== Start About Page ============================ */
/* ====================================================================== */

.back-color {
  background-image: url(../images/wave.svg);
  background-size: cover;
  height: 500px;
  position: relative;
}

.back-color h1 {
  color: var(--link-color);
  padding-top: 19%;
  text-align: center;
}

/* ====================================================================== */
/* ========================== Start Contact Page ============================ */
/* ====================================================================== */
.title-contact {
  margin-bottom: 100px;
}
.title-contact h5 {
  color: var(--main-color);
}

.contact .contact-form {
  padding: 20px;
  box-shadow: 0px 0px 20px -6px #adb5bd;
}

.contact .form-control {
  margin-bottom: 20px;
}

.contact .media i {
  border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
  background: #000b76;
  color: #fff;
  padding: 8px;
  font-size: 25px;
}

.contact button {
  background: #000b76;
  padding: 8px;
  border: none;
  border-radius: 5px;
  color: #fff;
}
